[*.cs]
indent_style = space
indent_size = 4

csharp_prefer_braces = true
csharp_new_line_before_open_brace = all
csharp_style_prefer_range_operator = false
csharp_style_namespace_declarations = file_scoped
csharp_style_prefer_primary_constructors = false
csharp_style_var_when_type_is_apparent = true
csharp_style_var_for_built_in_types = true
csharp_style_var_elsewhere = true

#dotnet_style_require_accessibility_modifiers = always
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0040.severity = warning
dotnet_diagnostic.IDE0305.severity = none

dotnet_naming_rule.private_fields_should_be_camel_case.severity = warning
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.camel_case.capitalization = camel_case

dotnet_naming_rule.interfaces_should_begin_with_i.severity = warning
dotnet_naming_rule.interfaces_should_begin_with_i.symbols = interfaces
dotnet_naming_rule.interfaces_should_begin_with_i.style = interface_prefix

dotnet_naming_symbols.interfaces.applicable_kinds = interface

dotnet_naming_style.interface_prefix.required_prefix = I
dotnet_naming_style.interface_prefix.capitalization = pascal_case