.display {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center;
}

.inherit-type {
    display: flex;
    gap: 0.2rem;
}

.inherit-arrow {
    padding: 0.1rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.type {
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    background: linear-gradient(90deg, rgba(20,21,24,0.5) 0%, rgba(16,17,20,0.6) 2%, rgba(17,18,20,0.6) 98%, rgba(21,23,26,0.5) 100%);
}

    .type.selected {
        background: linear-gradient(90deg, var(--button-blue-edge) 0%, var(--button-blue) 3%, var(--button-blue) 97%, var(--button-blue-edge) 100%);
    }

    .type.hoverable:hover {
        cursor: pointer;
        background: linear-gradient(90deg, var(--button-lightblue-edge) 0%, var(--button-lightblue) 3%, var(--button-lightblue) 97%, var(--button-lightblue-edge) 100%);
    }