@if (Scope is not null)
{
    @if (Scope.Parent is not null)
    {
        <LogScope Scope="Scope.Parent"></LogScope>
    }
    <span>@Scope.Name</span>
    <span> -> </span>
}

@code {
    [Parameter]
    public LogScopeModel? Scope { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        foreach (var parameter in parameters)
        {
            switch (parameter.Name)
            {
                case nameof(Scope):
                    Scope = parameter.Value as LogScopeModel;
                    break;
                default:
                    throw new ArgumentException($"Unknown parameter: {parameter.Name}");
            }
        }

        return base.SetParametersAsync(ParameterView.Empty);
    }
}
