.declaringType {
    display: flex;
    font-size: 1.1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.4rem;
    animation: fadeIn 0.2s;
}

    .declaringType:before {
        color: #eee;
        content: '';
        border-bottom: groove 2px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0.5rem;
        width: 1rem;
    }

    .declaringType:after {
        color: #eee;
        content: '';
        flex: 1;
        border-bottom: groove 2px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0.5rem;
    }