@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthProvider
@inject ISettingsService Settings

<div class="centered-container">
    <div class="section loading">Not authorized.</div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!Settings.InsiderMode)
        {
            return;
        }

        var state = await AuthProvider.GetAuthenticationStateAsync();

        if (state.User.Identity is null || state.User.Identity.IsAuthenticated == false)
        {
            NavigationManager.NavigateTo("login", true);
        }
    }
}
