body {
    margin: 0;
    padding: 0;
    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
}

.my-editor-class { /* for a specific editor instance */
    height: 500px;
}
