@using GBX.NET
@using GBX.NET.Engines.Game
@using GBX.NET.Attributes

@inherits NodeValueRenderer
@attribute [AppliesForType(typeof(CGameCtnBlock))]

@if (Value is null)
{
    <span class="element-box" data-title="This value cannot be modified. Custom creation of nodes will be added later.">null</span>
}
else if (Value is CGameCtnBlock block)
{
    <span class="element-box" style="font-size: 0.8rem" data-title="Name of this block is @(block.Name).">@block.Name</span>
        <span class="element-box" style="font-size: 0.8rem" data-title="Coords of the block are @(block.Coord).">@block.Coord</span>
}

@code {

}
