@using GBX.NET
@using GBX.NET.Engines.Game

@inherits NodeValueRenderer
@attribute [AppliesForType(typeof(CGameCtnAnchoredObject))]

@if (Value is null)
{
    <span class="element-box" data-title="This value cannot be modified. Custom creation of nodes will be added later.">null</span>
}
else if (Value is CGameCtnAnchoredObject anchoredObject)
{
    var valueType = Value.GetType();

    <span class="element-box" style="font-size: 0.8rem">@anchoredObject.ItemModel.Id</span>
}

@code {

}