.branch {
    color: gray;
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    font-size: 0.7rem;
    opacity: 0.75;
}

.version {
    color: gray;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    font-size: 0.7rem;
    opacity: 0.75;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vw;
    line-height: 0.8;
    font-weight: 300;
    outline: none;
}

small {
    font-size: 2.1vw;
    letter-spacing: 0.65rem;
    margin-right: -0.65rem;
    font-weight: bold;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 4.5rem;
    }

    small {
        font-size: 2.75rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 4rem;
    }

    small {
        font-size: 2.3rem;
    }
}

.section-logo {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    background-blend-mode: darken;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0% 101%);
}

    .section-logo::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        background-image: url("../img/grain.jpg");
        background-repeat: repeat-x;
        left: -0.5rem;
        opacity: 0.05;
        background-position: center;
        animation: grain 0.6s steps(1) infinite;
    }

@keyframes grain {
    0%, 100% {
        transform: translate(0,0);
    }

    10% {
        transform: translate(0%,10%);
    }

    20% {
        transform: translate(-5%,0%);
    }

    30% {
        transform: translate(0%,-10%);
    }

    40% {
        transform: translate(0%,5%);
    }

    50% {
        transform: translate(-5%,-15%);
    }

    60% {
        transform: translate(0%,0%);
    }

    70% {
        transform: translate(0%,-15%);
    }

    80% {
        transform: translate(-10%,10%);
    }

    90% {
        transform: translate(0%,-5%);
    }
}