.button-social {
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
    transition: 0.2s;
}

    .button-social > img {
        margin-top: 0.5rem;
        width: 80px;
        height: 80px;
        transition: 0.2s;
    }

@media (max-width: 1500px), (max-height: 930px) {
    .button-social > img {
        width: 64px;
        height: 64px;
    }

    .button-social {
        font-size: 1.4rem;
    }
}

@media (max-width: 1200px) {
    .button-social > img {
        width: 48px;
        height: 48px;
    }

    .button-social {
        font-size: 1rem;
    }
}

@media (max-width: 380px) {
    .button-social > img {
        width: 32px;
        height: 32px;
    }

    .button-social {
        font-size: 0.8rem;
    }

    .section-socials {
        gap: 0.3rem;
    }
}