<div class="section section-socials">
    <a class="button button-social" href="https://github.com/BigBang1112/gbx-net" target=”_blank”>
        <img src="img/github-small.png" />
        <span>GitHub</span>
    </a>
    <a class="button button-social" href="https://paypal.com/paypalme/bigbang1112" target=”_blank”>
        <img src="img/paypal.png" />
        <span>Donate</span>
    </a>
    <a class="button button-social" href="settings">
        <img src="img/settings.png" />
        <span>Settings</span>
    </a>
    <a class="button button-social" href="help">
        <img src="img/help.png" />
        <span>Help!</span>
    </a>
</div>

@code {

}