@using GBX.NET
@using GBX.NET.Engines.Game
@using GBX.NET.Attributes

@inherits NodeValueRenderer
@attribute [AppliesForType(typeof(CGameCtnMediaClip))]

@if (Value is null)
{
    <span class="element-box" data-title="This value cannot be modified. Custom creation of nodes will be added later.">null</span>
}
else if (Value is CGameCtnMediaClip clip)
{
    @if (string.IsNullOrEmpty(clip.Name))
    {
        <span class="element-box" style="font-size: 0.8rem" data-title="This clip is unnamed.">(unnamed)</span>
    }
    else
    {
        <span class="element-box" style="font-size: 0.8rem" data-title="Name of this clip is @(clip.Name).">@clip.Name</span>
    }

    @if (clip.Tracks.Count == 1)
    {
        <span class="element-box" style="font-size: 0.8rem" data-title="This clip has 1 track.">1 track</span>
    }
    else
    {
        <span class="element-box" style="font-size: 0.8rem" data-title="This clip has @clip.Tracks.Count tracks.">@clip.Tracks.Count tracks</span>
    }
}

@code {

}
