@using GBX.NET
@using GBX.NET.Engines.Game
@using GBX.NET.Attributes

@inherits NodeValueRenderer
@attribute [AppliesForType(typeof(CGameCtnMediaTrack))]

@if (Value is null)
{
    <span class="element-box" data-title="This value cannot be modified. Custom creation of nodes will be added later.">null</span>
}
else if (Value is CGameCtnMediaTrack track)
{
    <span class="element-box" style="font-size: 0.8rem" data-title="Name of this track is @(track.Name).">
        <FormattedText Text="@track.Name"></FormattedText>
    </span>

    @if (track.Blocks.Count == 1)
    {
        <span class="element-box" style="font-size: 0.8rem" data-title="This track has 1 block.">1 block</span>
    }
    else
    {
         <span class="element-box" style="font-size: 0.8rem" data-title="This track has @track.Blocks.Count blocks.">@track.Blocks.Count blocks</span>
    }
}

@code {

}
