.section-log {
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}

.log {
    font-family: 'Source Code Pro', monospace;
    background-color: #111A;
}

.overflow {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1rem;
    white-space: nowrap;
    width: 100%;
}

.log-message {
    border-radius: 0.2rem;
    transition: 0.1s;
    width: max-content;
    padding-right: 0.5rem;
    margin-top: -2px;
    animation: fadeIn 0.2s forwards;
}

    .log-message.hoverable-error:hover {
        cursor: pointer;
        background-color: #AC090A55;
    }
    
    .log-message.hovered-error {
        cursor: pointer;
        background-color: #AC090A55;
    }

.log-level {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    width: 48px;
    text-align: center;
}

.log-message-content {
    font-size: 0.9rem;
}

ul.exception {
    padding-left: 5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
}

li.exception {
    font-size: 0.8rem;
}


.button-error {
    background: linear-gradient(90deg, rgba(20,21,24,0.5) 0%, rgba(16,17,20,0.6) 2%, rgba(17,18,20,0.6) 98%, rgba(21,23,26,0.5) 100%) !important;
}

    .button-error:hover {
        background-color: darkred !important;
        cursor: pointer;
    }

    .button-error.button-error-hovered {
        background-color: darkred !important;
        cursor: pointer;
    }

big {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.bar-error {
    background-color: #88050555;
    color: #E00;
}

    .bar-error:hover {
        background-color: #DD050555;
        border-color: #AA0A0A33;
    }

.bar-warning {
    color: #FFB70F;
    background-color: #FFB70F33;
    border-color: #DDA70F22;
}

    .bar-warning:hover {
        background-color: #FFC03866;
        border-color: #DDA70F33;
    }