.upload {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border: 0.3rem dashed #8882;
    padding: 0.5rem;
}

big {
    font-size: 2rem;
}

small {
    width: 100%;
    color: #777;
}

@media (max-width: 1250px) and (min-width: 1150px) {
    big {
        font-size: 1.8rem;
    }

    small {
        font-size: 0.8rem;
    }
}

@media (max-width: 1150px) and (min-width: 1000px) {
    big {
        font-size: 1.5rem;
    }

    small {
        font-size: 0.7rem;
    }
}

@media (max-width: 500px) {
    big {
        font-size: 1.6rem;
    }

    small {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    big {
        font-size: 1.4rem;
    }

    small {
        font-size: 0.7rem;
    }
}