.editor-wrapper {
    width: 85%;
}

.notes-wrapper {
    width: 15%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.notes-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px 0;
}

.notes-header {
    text-align: center;
}

.note-card {
    
    padding: 0.5rem 0.7rem;
    border-radius: 0.2rem;
    background: #1e1e1e;
    margin: 0.1rem;
    min-height: 30px;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
    overflow: hidden;
}

.note-card.hoverable:hover {
    background: #3b3a3a;
}

.selected-note {
    display: flex;
}
.selected-note input {
    height: 100%;
    width: 100%;
    background: #1e1e1e;
    border: none;
    color: white;
}

.editor-controls, .output-controls {
    display: flex;
    justify-content: space-between;
}

.controls-group {
    display: flex;
    gap: 1rem;
}

.editor-tip {
    color: #cccccc;
    margin: auto;
}

.run-button {
    background-color: green;
}

.close-button {
    background-color: red;
}

.clear-button {
    background-color: grey;
}

.output-header {
    margin: auto 0;
}
.output-area {
    background-color: #1e1e1e;
    font-family: monospace;
    display: flex;
    height: 15%;
    margin-top: 0.8rem;
    overflow-y: auto;
}

.syserr {
    color: red;
}