[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -2rem;
    left: 50%;
    padding: 6px 10px;
    color: #eee;
    width: max-content;
    border-radius: 0.5rem;
    background: #333E;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    font-family: 'Kanit', Rubik, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    pointer-events: none;
}

[data-title=""]:after {
    display: none;
}

.tooltip-top[data-title]:after {
    left: auto;
    bottom: 2.5rem;
}

.tooltip-bottom[data-title]:after {
    left: auto;
    bottom: -1.5rem;
}

.tooltip-right-to-left[data-title]:after {
    left: auto;
    right: 50%;
    bottom: -1.5rem;
}

[data-title] {
    position: relative;
}

.tooltip-small-width:after {
    width: 15rem;
}