.list {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.label {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.empty {
    font-weight: normal;
    text-align: center;
    color: gray;
}