.help {
    flex-direction: column;
    max-width: 60rem;
    min-width: 30rem;
    gap: 0.5rem;
    margin: 1rem;
}

.centered {
    text-align: center;
}

big {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}

p:not(:first-child) {
    margin-top: 0.4rem;
}

p > a, big > a {
    color: #3C91E6;
    text-decoration: none;
}

    p > a:hover, big > a:hover {
        text-decoration: underline;
    }