@using GBX.NET.Attributes

@inherits ValuePreview
@attribute [AppliesForType(typeof(byte[]))]

@if (Value is not byte[] byteArray)
{
    <span style="color:gray">null</span>

    return;
}

@if (byteArray.Length == 0 || Property is null)
{
    base.BuildRenderTree(__builder);
}
else if (Attribute.IsDefined(Property, typeof(JpegDataAttribute)))
{
    <img src="data:image/jpeg;base64,@Convert.ToBase64String(byteArray)" />
}
else if (Attribute.IsDefined(Property, typeof(WebpDataAttribute)))
{
    <img src="data:image/webp;base64,@Convert.ToBase64String(byteArray)" />
}
else
{
    base.BuildRenderTree(__builder);
}

@code {

}
