@using GBX.NET
@using GBX.NET.Engines.Plug

@inject IJSRuntime JS

@inherits ValuePreview
@attribute [AppliesForType(typeof(CPlugCrystal.TriggerLayer))]

@if (Value is not CPlugCrystal.TriggerLayer trigger)
{
    <span style="color:gray">null</span>

    return;
}

<CPlugCrystalCrystalValuePreview Value="trigger.Crystal" LayerName="@trigger.LayerName"></CPlugCrystalCrystalValuePreview>

<span>@trigger.LayerName</span>

@code {
    
}