<span style="color:gray;">Value of this property has no special preview.</span>

@code {
    [Parameter]
    public object? Value { get; set; }

    [Parameter]
    public PropertyInfo? Property { get; set; }

    [Parameter]
    public object? OwnerObject { get; set; }

    [Parameter]
    public SectionPreview? SectionPreview { get; set; }

    [Parameter]
    public GbxModel? Gbx { get; set; }

    public void Update()
    {
        StateHasChanged();
    }

    protected void SetValue(object? value)
    {
        Value = value;
        Property?.SetValue(OwnerObject, value);
        SectionPreview?.UpdateNodeTreeExplorer();
        Update();
    }
}
